<div class="w-full pt-10">
  <div class="w-full mat-elevation-z8">
    <div class="flex max-md:flex-wrap justify-between w-full p-4">
      <p class="content text-primary py-5">All Work Out details</p>
      <div class="flex max-sm:flex-wrap gap-4 items-center">
        <mat-form-field class="col-span-6">
          <mat-label>Workout type</mat-label>
          <mat-select
            [value]="workoutsOpt.ALL"
            (selectionChange)="onSelectionChange($event)"
          >
            <mat-option [value]="workoutsOpt.ALL">{{
              workoutsOpt.ALL
            }}</mat-option>
            <mat-option [value]="workoutsOpt.CYCLING">{{
              workoutsOpt.CYCLING
            }}</mat-option>
            <mat-option [value]="workoutsOpt.RUNNING">{{
              workoutsOpt.RUNNING
            }}</mat-option>
            <mat-option [value]="workoutsOpt.SWIMMING">{{
              workoutsOpt.SWIMMING
            }}</mat-option>
            <mat-option [value]="workoutsOpt.YOGA">{{
              workoutsOpt.YOGA
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-[300px] h-fit">
          <mat-label>Search Here</mat-label>
          <input
            class="bg-white"
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search here.."
            #input
          />
        </mat-form-field>
      </div>
    </div>
    <div class="example-container">
      <table class="w-full" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th class="w-[300px]" mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th class="w-[300px]" mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
           <div (click)="navigateUrl(element)" class="text-blue-500 hover:underline"> {{ camelCasePipe(element.name) }}</div >
          </td>
        </ng-container>

        <ng-container matColumnDef="workouts">
          <th class="w-[300px]" mat-header-cell *matHeaderCellDef>Workouts</th>
          <td mat-cell *matCellDef="let element">
            <div class="flex flex-wrap items-center h-fit w-[150px] gap-2">
              @for (item of element.workouts; track $index) {
              <p>
                {{ item?.type }}
                {{ $index !== element?.workouts?.length - 1 ? "," : "" }}
              </p>
              }
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="noOfWorkouts">
          <th class="w-[300px]" mat-header-cell *matHeaderCellDef>No. Of Workouts</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfWorkouts }}</td>
        </ng-container>

        <ng-container matColumnDef="totalWorkOutMinutes">
          <th class="w-[300px]" mat-header-cell *matHeaderCellDef>Total WorkOut Minutes</th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalWorkOutMinutes }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of workout"
    >
    </mat-paginator>
  </div>
</div>
