<section class="w-[100vw] h-[100vh] p-10 max-sm:p-5 overflow-auto">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmitWorkoutDetails()"
    action=""
    class="w-full"
  >
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-6 max-sm:col-span-12">
        <mat-form-field class="w-full">
          <mat-label>User Name *</mat-label>
          <input inputTrim ngModel="ritik" formControlName="name" matInput />
        </mat-form-field>
        @if ( invalid && (formGroup.controls['name'].invalid ||
        formGroup.controls['name'].touched) ) {

        <p class="text-red-600">Name is required.</p>
        }
      </div>
      <div class="col-span-6 max-sm:col-span-12">
        <mat-form-field class="w-full">
          <mat-label>Workout type</mat-label>
          <mat-select ngModel="Cycling" formControlName="workoutType">
            <mat-option [value]="workoutsOpt.CYCLING">{{
              workoutsOpt.CYCLING
            }}</mat-option>
            <mat-option [value]="workoutsOpt.RUNNING">{{
              workoutsOpt.RUNNING
            }}</mat-option>
            <mat-option [value]="workoutsOpt.SWIMMING">{{
              workoutsOpt.SWIMMING
            }}</mat-option>
            <mat-option [value]="workoutsOpt.YOGA">{{
              workoutsOpt.YOGA
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          @if ( invalid && (formGroup.controls['workoutType'].invalid ||
          formGroup.controls['workoutType'].touched) ) {

          <p class="text-red-600">WorkType is required.</p>
          }
        </div>
      </div>
      <div class="col-span-6 max-sm:col-span-12">
        <mat-form-field class="w-full">
          <mat-label>Workout Minutes</mat-label>
          <input
            inputTrim
            ngModel="65"
            formControlName="minute"
            type="number"
            matInput
          />
        </mat-form-field>
        <div>
          @if ( invalid && (formGroup.controls['minute'].invalid ||
          formGroup.controls['minute'].touched) ) {

          <p class="text-red-600">Minute is required.</p>
          }
        </div>
      </div>
    </div>
    <button class="mt-4 w-[150px]" mat-flat-button color="primary">
      Add Workout
    </button>
  </form>

  <app-table [tableData]="userWorkOutDetails"></app-table>
</section>
